
ion-item {
    --padding-top: 5%;
    --padding-start: 5%;
    --padding-end: 2%;
    --background: rgb(29, 102, 96);
}
ion-header{
    --background: rgb(29, 102, 96);
}
ion-content{
    --background: rgb(29, 102, 96);
}